name: Build and Push Docker Image
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          docker.io/${{ secrets.DOCKERHUB_USERNAME }}/timelimit-server:latest
          docker.io/${{ secrets.DOCKERHUB_USERNAME }}/timelimit-server:${{ github.run_number }}
          docker.io/${{ secrets.DOCKERHUB_USERNAME }}/timelimit-server:${{ github.sha }}
